li.palette-list
  .palette-color.g
    - var j = 0
    while j < 5
      a.palette-tone.g-b.g-b--1of5= j++
li.palette-list
  .palette-color.g
    - var j = 0
    while j < 5
      a.palette-tone.g-b.g-b--1of5= j++
li.palette-list
  .palette-color.g
    - var j = 0
    while j < 5
      a.palette-tone.g-b.g-b--1of5= j++
li.palette-list
  .palette-color.g
    - var j = 0
    while j < 5
      a.palette-tone.g-b.g-b--1of5= j++
li.palette-list
  .palette-color.g
    - var j = 0
    while j < 5
      a.palette-tone.g-b.g-b--1of5= j++
